* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
                "sidebar header"
                "sidebar main"
    ;
}

.sidebar {
    background-color: #43147f;
    grid-area: sidebar;
    /* border: 5px solid blue; */
    height: 200vh;
    display: grid;
    grid-template-rows: 60px 250px 100px;
    color: white;
    gap: 1rem;
    padding-left: 1rem;
}

.sidebar > div > div > p {
    /* border: 2px solid red; */
    cursor: pointer;
}

.logo-container {
    display: grid;
    justify-items: start;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar-one, .sidebar-two {
    display: grid;
    align-items: center;
    font-weight: 500;
    /* gap: 1rem; */
}

.sidebar-one > div, .sidebar-two > div {
    /* border: 2px solid yellow; */
}

.sidebar-one {
    grid-template-rows: repeat(6, 1fr);
}

.sidebar-two {
    grid-template-rows: repeat(3, 1fr);
    margin-top: 1rem;
}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
                "searchbar account"
                "welcome-div welcome-div"
    ;
}

.header > div {
    /* border: 1px solid red; */
}

.searchbar {
    grid-area: searchbar;
    display: grid;
    align-items: center;
    justify-items: center;
}

.searchbar input[type=text] {
    background-color: #e2e8f0;
    border: none;
    border-radius: 10px;
    height: 60%;
    width: 80%;
    padding-left: 15px;
}

.account {
    grid-area: account;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 3fr;
}

.username {
    font-weight: 700;
}

.welcome-div {
    grid-area: welcome-div;
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.welcome-div > div {
    /* border: 1px solid blue; */
}

.welcome {
    display: grid;
    grid-template-areas: 
                "welcome-pfp welcometxt1"
                "welcome-pfp welcometxt2"
    ;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    /* align-items: center; */
}


.welcome-pfp {
    grid-area: welcome-pfp;
    display: grid;
    align-items: center;
    justify-items: center;
}

.welcome-pfp > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.welcometxt1 {
    grid-area: welcometxt1;
    display: grid;
    align-items: end;
}

.welcometxt2 {
    grid-area: welcometxt2;
    align-items: center;
    display: grid;
    font-weight: 700;
}

.button-row {
    display: grid;
    align-items: center;
    /* justify-items: center; */
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

.button-row > div > button {
    border: none;
    background-color: #43147f;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

.main {
    background-color: #e2e8f0;
    grid-area: main;
    /* border: 5px solid green; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
                "your-projects announcements"
                "your-projects trending"
    ;
}

.your-projects {
    /* border: 5px solid red; */
    grid-area: your-projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
            "project-text project-text"
            "project-grid project-grid"
    ;
}

.project-text {
    grid-area: project-text;
    /* border: 2px solid blue; */
    display: grid;
    align-items: end;
    font-weight: 700;
    padding-left: 15px;
}

.project-grid {
    grid-area: project-grid;
    padding: 15px;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.projectcard {
    background-color: white;
    border-radius: 8px;
    display: grid;
    padding: 1rem;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
                "card-text card-text card-text card-text card-text card-text"
                ". . . card-buttons card-buttons card-buttons"
    ;
}

.card-text {
    display: grid;
    /* border: 5px solid blue; */
    grid-area: card-text;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
}

.cardtxt1 {
    display: grid;
    align-items: end;
    font-weight: 700;
}

.card-buttons {
    display: grid;
    /* border: 5px solid blue; */
    grid-area: card-buttons;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.announcements {
    grid-area: announcements;
    /* border: 5px solid blue; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    padding: 0 15px 15px 15px;
}

.announcements-text {
    font-weight: 700;
    display: grid;
    align-items: end;
}

.announcement-grid {
    background-color: white;
    border-radius: 8px;
    padding: 25px;
    margin-top: 15px;
    display: grid;
    align-items: center;
    gap: 2rem;
}

.announcementcard > div:first-of-type{
    font-weight: 700;
}

.trending {
    grid-area: trending;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    padding: 0 15px 15px 15px;
}

.trending-text {
    font-weight: 700;
    display: grid;
    align-items: end;
}

.trending-grid {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.trendingcard {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 1rem;
    padding: 15px;
}

.trendingpfp {
    display: grid;
    align-items: center;
    justify-items: center;
}

.trendingpfp > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
